body {
  background-color: #333;
  color: white;
}

img {
  width: 50vw;
  border: 2px solid white;
}

img#seal {
  position: static;
  top:0;
  left:0;
  width: 80vw;
  height: 40vw;
  object-fit: contain;
  background-color: #300;
}

div {
  width: 100%;
  height: 20em;
  background-color: #030;
  background-image: url("/img/orator.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

div img {
  object-fit: fill;
  background-color: #003;
}

img#cat {
  border-radius: 20vw;
}


img#train {
  background-color: #033;
}

figure {
  display: inline-block;
  background-color: #eee;
}

figcaption {
  text-align: center;
  background-color: #303;
  /* color: black; */
}
